/*.ulLobby {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.liLobby {
    float: left;
}

.aLobby {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.aLobby:hover {
    background-color: #111;
}*/


/*
.container > header {
    margin: 0 auto;
    padding: 1em;
    text-align: center;
}

.container > header h1 {
    font-weight: 600;
    font-size: 3em;
    margin: 0;
}*/

.lobbyTitle{
    color: white;
}

.wrapper {
    line-height: 1.5em;
    margin: 0 auto;
    padding: 2em 0 3em;
    width: 80%;
    overflow: hidden;
    
    
}

.tableLobby {
    border-radius: 4px;
    border-color: blue;
    width: 100%;
    background: #fff;
    border: 2px solid blue;
}

th {
    background-color: #007BFF;
    color: white;
    white-space: nowrap;
    font-family: Arial;
    font-size: 16px;
    text-decoration: none;
    border: 1px solid white;
}

.tdLobby, th {
    padding: 1em 1.5em;
    text-align: center;
}

tbody th {
    background-color: #007BFF;
}

/*
tbody tr:nth-child(2n-1) {
    background-color: #f5f5f5;
    transition: all 0.125s ease-in-out;
}
tbody tr:hover {
    background-color: rgba(50, 98, 149, 0.3);
}*/

td.rank {
    text-transform: capitalize;
}

#table-wrapper {
    position:relative;
}
#table-scroll {
    height:150px;
    overflow:auto;
    margin-top:20px;
}
#table-wrapper table {
    width:100%;

}
#table-wrapper table * {
    background:yellow;
    color:black;
}
#table-wrapper table thead th .text {
    position:absolute;
    top:-20px;
    z-index:2;
    height:20px;
    width:35%;
    border:1px solid red;
}


/* SELECT*/
/*
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: blue;
    background-image: none;
}*/


.select {
   
    display: flex;
    width: 5em;
    height: 14em;
    line-height: 3;
    background: #007BFF;
    overflow: hidden;
    border-radius: 4px;
    border-color: blue;
    float: left;
    color: white;
    margin-top:4vh;
    margin-left:calc(50% - 2.5em);
    
}


/*BOTTONE SFIDA*/
#btnSfida {
    background-color: #007BFF;
    border-radius: 4px;
    border-color: blue;
    display: inline-block;
    cursor: pointer;
    color: white;
    font-family: Arial;
    font-size: 20px;
    padding: 13px 32px;
    text-decoration: none;
}
#btnSfida:hover {
    opacity: 0.8;
}



#logout {
    background-color: #007BFF;
    border-radius: 4px;
    border-color:blue;
    display: inline-block;
    cursor: pointer;
    color: white;
    font-family: Arial;
    font-size: 16px;
    padding: 8px 25px;
    text-decoration: none;
    margin-left:3vw;
}

#logout:hover {
    opacity:0.8;
}


/* DIV DIVISO*/
* {
    box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    height: 100%;
    padding: 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .column {
        width: 100%;
    }
}
