

h1#h1Tris {
    color: antiquewhite;
    text-align: center;
}

div#signup {
    margin: auto;
    width: 43%;
    padding: 24px;
    BACKGROUND: WHITE;
}

div#login {
    margin: auto;
    width: 43%;
    padding: 24px;
    BACKGROUND: WHITE;
}

div#dati {
    margin: auto;
    width: 43%;
    padding: 24px;
    BACKGROUND: WHITE;
}

div#classifica {
    margin: auto;
    width: 43%;
    padding: 24px;
    BACKGROUND: WHITE;
}


body {
    padding-top: 90px;
    background-image: url("tris.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
}
