
table {
    border-color: blue;
    width: 100%;
    background-color: white;
    border: 2px solid blue;
    text-align: center;
}
table#field {
    width: 32%;
    position: absolute;
}

th {
    background-color: #007BFF;
    color: white;
    font-size: 16px;
}

.tdLobby, th {
    padding: 5px 5px 5px 5px;
    text-align: center;
}

h2 {
    text-align: center;
}


select#slct {
    height: 25%;
}


.select {
    display: flex;
    background: #007BFF;
    width:5vw;
    font-size:18px;
    border-radius: 4px;
    border-color: blue;
    color: white;
    margin-left: 3vw;
    margin-top: -5vh;
}

#btnSfida {
    background-color: #007BFF;
    border-radius: 4px;
    border-color: blue;
    display: inline-block;
    cursor: pointer;
    color: white;
    font-size: 20px;
    padding: 13px 32px;
    margin-left:15vw;
    margin-top:2vh;
}

#btnSfida:hover {
    opacity: 0.8;
}

#logout {
  background-color: #007BFF;
  border-radius: 4px;
  border-color: blue;
  display: inline-block;
  cursor: pointer;
  color: white;
  font-size: 12px;
  padding: 8px 25px;
}

#logout:hover {
    opacity: 0.8;
}

#vediStatistiche {
    background-color: #007BFF;
    border-radius: 4px;
    border-color: blue;
    display: inline-block;
    cursor: pointer;
    color: white;
    font-size: 12px;
    padding: 8px 25px;
}

#vediStatistiche:hover {
        opacity: 0.8;
}

#vediClassifica {
    background-color: #007BFF;
    border-radius: 4px;
    border-color: blue;
    display: inline-block;
    cursor: pointer;
    color: white;
    font-size: 12px;
    padding: 8px 25px;
}

#vediClassifica:hover {
        opacity: 0.8;
}


#tornaLobby {
    background-color: #007BFF;
    border-radius: 4px;
    border-color: blue;
    display: inline-block;
    cursor: pointer;
    color: white;
    font-size: 16px;
    padding: 8px 25px;
}

#tornaLobby:hover {
    opacity: 0.8;
}

tr#resultHead {
    color: bisque;
}

tr#resultHeadClassifica {
    color: bisque;
}

tr#resultHeadHistory {
    color: antiquewhite;
    background-color: dodgerblue;
}

label {
    color: #007BFF;
}

input{
    margin:5px 17px;
    padding: 10px 10px;
    width:20%;
}

/*-------------------------- Game ---------------------*/

body {
    text-align: center;
    overflow-x: hidden;
}

.header {
    font-size: 70px;
    color: #ffffff;
    margin-top: -18%;
}

.h4Game {
    color: #ffffff;
}

.tableGame {
    border-spacing: 10px;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    margin-left: 40%;
}


.cell {
    font-weight: 800;
    font-size: 90px;
    width: 150px;
    height: 150px;
    border: 1px solid blue;
    border-radius: 4px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    text-align: center;
}

.cell:hover {
    opacity: 0.8;
}

.modal-container {
    position: absolute;
    left: 50%;
    top: 375px;
    transform: translate(-50%, -50%);
    display: none;
}


#input {
    background-color: #007BFF;
    border-radius: 4px;
    border-color: blue;
    display: inline-block;
    cursor: pointer;
    color: white;
    font-family: Arial;
    font-size: 16px;
    padding: 8px 25px;
    text-decoration: none;
    margin-left: 5vw;
}


#buttonMessage {
    background-color: #007BFF;
    border-radius: 4px;
    border-color: blue;
    display: inline-block;
    cursor: pointer;
    color: white;
    font-family: Arial;
    font-size: 16px;
    padding: 8px 25px;
    text-decoration: none;
    margin-left: 2vw;
}

#buttonMessage:hover {
    opacity: 0.8;
}

.tabContent {
    border: 1px solid white;
}

#gameMessage {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    width: 25%;
    height: 400px;
}

#messages {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    width: 27%;
    height: 390px;
    overflow: auto;
    margin-left: 5vw;
}
